# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

<b>Objectives:</b>
* Python
* R
* Scala
* Julia

Some of the popular languages that Data Scientists user are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used  y Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|----|
|VS Code|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

##Author <br>
JB Young